html {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    background-color: white;
    background-image: url(../images/monoarrowbg.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
}
nav {
    width: 100%;
    position: absolute;
    z-index: 10;
    display: flex;
    padding: 10px 0;
    justify-content: center;
}

h1, h2, h3, h4, p {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    line-height: 1.1;
    color: #212121;
}

h1 {
    font-size: 3em;
}

h3 {
    font-size: 1.5em;
}

#navItemContainer {
    display: inline-flex;
    padding: 10px;
}

.navItem {
    font-family: 'inter', sans-serif;
    font-weight: 800;
    justify-content: center;
    padding: 10px;
    color: #212121;
}

.navItem:hover {
    cursor: pointer;
}

.navItem a {
    text-decoration: none;
    color: #212121;
}

main {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    flex-direction: column;
}

#downloadQupLottie {
    display: flex;
    position: relative;
    margin: auto 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#qupDownloadLottie {
    width: 75vw;
    max-width: 500px;
}

.dlButton {
    height: 40px;
    margin: 5px;
    cursor: pointer;
}

#buttonContainer {
    display: block;
}

#smallPrintContainer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #F8B400;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -2px;
    left: 0;
    background-color: #F8B400;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }